@{
    ViewData["Title"] = "Chính sách bảo mật";
}

<main>
    <section class="section">
        <div class="container">
            <h2 class="section-title">@ViewData["Title"]</h2>
            <div class="static-content">
                <h3>1. Mục đích thu thập thông tin</h3>
                <p>Chúng tôi thu thập thông tin (Tên, SĐT, Email, Địa chỉ) để xử lý đơn hàng và hỗ trợ khách hàng.</p>

                <h3>2. Phạm vi sử dụng thông tin</h3>
                <p>Chúng tôi chỉ sử dụng thông tin trong nội bộ công ty để giao hàng và gửi các chương trình khuyến mãi (nếu khách hàng đồng ý).</p>

                <h3>3. Cam kết bảo mật</h3>
                <p>WebDienThoai cam kết không bán, chia sẻ hay tiết lộ thông tin cá nhân của bạn cho bất kỳ bên thứ ba nào.</p>
            </div>
        </div>
    </section>
</main>