@model WebDienThoai.Models.Category
@{
    ViewData["Title"] = "Thêm Danh mục";
}

<h2 class="mb-4">Thêm Danh mục mới</h2>

<form asp-action="Create" method="post" class="w-50">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label fw-bold"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Slug" class="form-label fw-bold"></label>
        <input asp-for="Slug" class="form-control" placeholder="Tự động tạo nếu để trống" />
        <span asp-validation-for="Slug" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary me-2">Lưu lại</button>
    <a asp-action="Categories" class="btn btn-link text-decoration-none">Hủy bỏ</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}