

body {
    overflow-x: hidden; 
}


#wrapper {
    display: flex;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    transition: margin 0.25s ease-out;
    background-color: #343a40; 
}

#page-content-wrapper {
    flex-grow: 1; 
    width: 100%;
    min-width: 0; 
    padding-left: 250px; 
    transition: padding 0.25s ease-out;
}


#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px; 
}

#wrapper.toggled #page-content-wrapper {
    padding-left: 0; 
}

/* === Responsive cho Di động (dưới 768px) === */
@media (max-width: 767.98px) {
    
    #sidebar-wrapper {
        margin-left: -250px;
    }

    #page-content-wrapper {
        padding-left: 0;
    }

    
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    
    #menu-toggle {
        display: block;
    }
}


#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar-wrapper .list-group {
    width: 100%;
}

.list-group-item-action.bg-dark.text-light:hover,
.list-group-item-action.bg-dark.text-light:focus {
    background-color: #495057 !important; 
}


.product-thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}


.form-switch .form-check-input {
    min-height: 1.5rem;
    min-width: 2.5rem;
    margin-top: 0.25rem;
}
